.wrapper {
  width: 80px;
  height: 80px;
  position: relative;
  transition: all ease-out var(--anim-duration-normal);
}

.wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.badge {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -8px;
  right: -8px;
  background-color: var(--color-accent);
  border-radius: 50%;
  transition: background-color ease var(--anim-duration-normal);
}

.badge svg {
  width: 14px;
  height: 14px;
  display: inline-flex;
}

.badge svg path {
  fill: var(--color-background);
}

.sizeMedium {
  width: 60px;
  height: 60px;
}

.sizeMedium .badge {
  width: 24px;
  height: 24px;
  bottom: -6px;
  right: -6px;
}

.sizeMedium .badge svg {
  width: 12px;
  height: 12px;
}

.sizeSmall {
  width: 38px;
  height: 38px;
}

.sizeSmall .badge {
  width: 18px;
  height: 18px;
  bottom: -6px;
  right: -6px;
}

.sizeSmall .badge svg {
  width: 10px;
  height: 10px;
}
