.image {
  cursor: zoom-in;
  position: relative;
}

.zoomIcon {
  position: absolute;
  right: var(--size-normal);
  top: var(--size-normal);
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow:
    0 2px 5px rgba(0, 0, 0, 0.05),
    0 0 0 1px rgba(0, 0, 0, 0.05);
  opacity: 0.6;
  transition: all ease-out var(--anim-duration-normal);
  pointer-events: none;
}

.image:hover .zoomIcon {
  opacity: 1;
}

.zoomIcon svg path {
  fill: var(--color-foreground);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlayNav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: var(--size-normal);
  z-index: 2;
  background: linear-gradient(to bottom, black, transparent);
  color: white;
  transition: opacity ease var(--anim-duration-normal);
}

.overlayNav div {
  display: flex;
  gap: var(--size-small);
}

.overlayNav button {
  appearance: none;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-bold);
  padding: 2px var(--size-normal);
  border-radius: 999em;
  cursor: pointer;
  transition: all ease var(--anim-duration-normal);
}

.overlayNav button:not(.isSelected):hover {
  opacity: var(--hover-opacity);
}

.overlayNav button.isSelected {
  background-color: white;
  color: black;
}

.overlayNav .close svg {
  display: none;
}

.overlay img,
.overlay video {
  user-select: none;
  pointer-events: none;
}

.overlay.zoomFit video {
  width: 90vw;
  height: 90vh;
}

.overlay .itemWrapper {
  cursor: grab;
}

.overlay .itemWrapper.withAnimation {
  transition: transform ease var(--anim-duration-normal);
}

.overlay.isDragging .itemWrapper {
  cursor: grabbing;
}

.overlay.zoomFit {
  display: flex;
  flex-direction: column;
}

.overlay.zoomFit .itemWrapper {
  min-width: 0;
  min-height: 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay.zoomFit img,
.overlay.zoomFit video {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: contain;
}

.overlay.hidingUI .overlayNav {
  opacity: 0;
  pointer-events: none;
}

.caption p {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
  .caption {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-normal);
    background: linear-gradient(to top, black, transparent);
  }

  .caption p {
    text-align: center;
  }

  .zoomIcon {
    right: 4px;
    top: 4px;
    opacity: 1;
    transform: scale(0.75);
  }

  .overlayNav button {
    min-height: var(--min-touch-size);
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
  }

  .overlayNav .close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    aspect-ratio: 1/1;
  }

  .overlayNav .close span {
    display: none;
  }

  .overlayNav .close svg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .overlayNav svg path {
    stroke: white;
  }
}
