.phones {
  position: absolute;
  width: 600px;
  left: calc(100% + var(--size-large));
  top: 0;
  pointer-events: none;
}

.phones img {
  width: 100%;
}

.phoneContainer {
  position: relative;
}

.phoneAvoidingItem {
  width: 60%;
}
