.headerImg img {
    width: 600px;
}

.headerImg {
    height: 450px;
} 

@media screen and (max-width: 800px) {
  .headerImg {
    width: auto;
    height: 300px;
    margin-top: var(--size-large);
  }

  .headerImg img {
    width: 100%;
  }
}
