.header .headerImg img {
  width: 600px;
}

.header .headerImg {
  height: 450px;
}

@media screen and (max-width: 800px) {
  .header .headerImg {
    width: auto;
    height: 300px;
    margin-top: var(--size-large);
  }

  .header .headerImg img {
    width: 100%;
  }
}
