.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--size-large);
  gap: var(--size-large);
  max-width: 800px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-large);
}
