.header {
  padding: var(--post-header-vertical-padding) var(--size-large);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.header-dark {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

.intro {
  display: flex;
  flex-direction: column;
  gap: var(--size-normal);
  justify-content: center;
  align-items: center;
}

.title {
  max-width: var(--max-readable-width);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.subtitle {
  max-width: var(--max-readable-width);
  opacity: 0.7;
  text-align: center;
}

.introImage {
  height: 380px;
  overflow: hidden;
  margin-bottom: calc(-1 * var(--post-header-vertical-padding));
  max-width: 800px;
}

.introImage img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 800px) {
  .header {
    padding: var(--size-xlarge) var(--size-large);
    padding-top: calc(var(--size-xlarge) + var(--navbar-height));
  }

  .intro {
    gap: var(--size-small);
  }

  .siteIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-normal);
    width: 100%;
    color: var(--color-background);
  }

  .siteIntro p {
    opacity: 0.7;
  }

  .siteIntroWave {
    margin: var(--size-xlarge);
    width: 80%;
  }
}
