.header .headerImg {
  height: 650px;
}

@media (max-width: 800px) {
  .header .headerImg {
    height: 430px;
    margin-top: var(--size-large);
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: calc(
      -1 * (var(--size-xlarge) + var(--post-header-vertical-padding))
    );
  }

  .header .headerImg img {
    width: 100vw;
    height: 100%;
  }
}
