.header {
}

.headerImg {
  height: 480px;
}

@media (max-width: 800px) {
  .headerImg {
    height: auto;
    margin-bottom: -80px;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: var(--size-normal);
  }
}
