.header .headerImg {
  height: 650px;
}

@media (max-width: 800px) {
  .header .headerImg {
    height: auto;
    margin-bottom: calc(-1 * var(--post-header-vertical-padding) - 120px);
    margin-left: -30px;
    margin-right: -30px;
    margin-top: var(--size-normal);
  }
}
