@media screen and (max-width: 800px) {
  .introImage {
    height: auto !important;
    margin-bottom: calc((-1 * var(--post-header-vertical-padding))) !important;
    margin-left: -20px;
    margin-right: -20px;
  }
}
